<div class="container">
  <h1>Próximas séries para assistir</h1>
  <app-slider [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Séries Amazon Originals e exclusivas</h1>
  <app-slider [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Séries adicionadas recentemente</h1>
  <app-slider [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Melhores séries</h1>
  <app-slider [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Séries de suspense</h1>
  <app-slider [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Séries de drama</h1>
  <app-slider [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
</div>
