<div class="container">
  <h1>Séries Amazon Originals para crianças</h1>
  <app-slider [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Melhores filmes</h1>
  <app-slider [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Ação e aventura</h1>
  <app-slider [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Séries educativas</h1>
  <app-slider [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Filmes e séries para crianças mais velhas</h1>
  <app-slider [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Animações</h1>
  <app-slider [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
</div>
