<nav>
  <ul>
    <li class="logo"><img src="assets/prime.svg" /></li>
    <li class="btn" (click)="menu()">
      <span><fa-icon *ngIf="!isShown" [icon]="iconFaBars"></fa-icon></span>
      <span><fa-icon *ngIf="isShown" [icon]="iconFaTimes"></fa-icon></span>
    </li>
    <div @menuApp [ngClass]="{ show: isShown == true }" class="items">
      <li><a routerLink="/menu-inicio"> Início</a></li>
      <li><a routerLink="/menu-serie">Séries</a></li>
      <li><a routerLink="/menu-filmes">Filmes</a></li>
      <li><a routerLink="/menu-infantil">Infantil</a></li>
    </div>
    <li class="search-icon">
      <input type="search" placeholder="Buscar" />
      <label class="icon"
        ><span><fa-icon [icon]="faSearch"></fa-icon></span
      ></label>
    </li>
    <li class="user">
      <label class="login"
        ><span><fa-icon [icon]="faUser"></fa-icon></span
      ></label>
    </li>
  </ul>
</nav>
