<div class="container">
  <h1>Próximos filmes para assistir</h1>
  <app-slider [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Filmes Amazon Originals e exclusivos</h1>
  <app-slider [movies]="originals" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Filmes adicionados recentemente</h1>
  <app-slider [movies]="popular" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Melhores filmes</h1>
  <app-slider [movies]="nowPlaying" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Filmes de suspense</h1>
  <app-slider [movies]="trending" [sliderConfig]="sliderConfig"></app-slider>
  <h1>Filmes de drama</h1>
  <app-slider [movies]="topRated" [sliderConfig]="sliderConfig"></app-slider>
</div>
